[Desktop Entry]
Type=Service
Name=Pidgin Emoticons Theme
Name[nl]=Pidgin-emoticonsthema
Name[uk]=Тема емоційок Pidgin
Name[x-test]=xxPidgin Emoticons Themexx
Comment=Library to use Pidgin emoticons theme
Comment[nl]=Bibliotheek voor het gebruik van het Pidgin-emoticonsthema
Comment[uk]=Бібліотека для використання теми емоційок Pidgin
Comment[x-test]=xxLibrary to use Pidgin emoticons themexx
X-KDE-ServiceTypes=KEmoticons
X-KDE-Library=emoticonstheme_pidgin
X-KDE-EmoticonsFileName=theme
X-KDE-Priority=7
