[Desktop Entry]
Type=Service
Name=KDE Emoticons Theme
Name[uk]=Тема емоційок KDE
Name[x-test]=xxKDE Emoticons Themexx
Comment=Library to use KDE emoticons theme
Comment[uk]=Бібліотека для використання теми емоційок KDE
Comment[x-test]=xxLibrary to use KDE emoticons themexx
X-KDE-ServiceTypes=KEmoticons
X-KDE-Library=emoticonstheme_kde
X-KDE-EmoticonsFileName=emoticons.xml
X-KDE-Priority=10
